:root {
	--font: 1.5rem sans-serif;
	--font-size: 1.5rem;
	--font-family: 'sans-serif';
}

body {
	margin: auto;
	margin-top: 1em;
	width: 60vw;
	font: var(--font);
}

form.claimCodeForm {
	margin-top: 2rem;

	input {
		font-size: 1.5rem;
		padding: 0.50rem;
	}
}

header.nav ul {
	list-style-type: none;
	margin-bottom: 2.5rem;
	margin-top: 0.25rem;
	padding-left: 0;
}

header.nav ul li {
	display: inline-block;
	font-size: 0.8rem;
	padding-right: 5rem;
}

input.claimCode {
	width: 50rem;
}

ol.punchlist > li {
	margin-bottom: 1rem;

	>details {
		> summary {
			margin-bottom: 0.5rem;
		}
	}
}

p.code {
	font-family: monospace;
}



table.object-detail {
	background-color: bisque;
	border-collapse: separate;
	border-spacing: 1em;
}

.badTitle {
	border: 1px solid pink;
	font-size: 2.5rem;
	padding: 1rem;
}

.errorCheckbox {
	display: none;

}

.errorDetail {
	visibility: hidden;

	div {
		padding: 0.5rem 0;
	}
}

.errorDetails {
	div {
		padding: 0.5rem 0;
	}
}

.errorImage > img {
	width: 250px;
}

.errorInfo {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: flex-start;
	gap: 1rem;
}

.errorInfo * {
	border: 0px solid gray;
}

.errorLabel {
	align-self: center;
	padding: 0.5rem;
}

.errorMessage {
	background: pink;
	border-radius: 0.75rem;
	font-family: monospace;
	font-size: 2.0rem;
	text-align: center;
	padding: 0.5rem;
	position: relative;
}

.errorMessage:focus {
	background: pink;
	border: 0;
	border-radius: 0.75rem;
	font-family: monospace;
	font-size: 2.0rem;
	text-align: center;
	outline: none;
	padding: 0.5rem;
	position: relative;

	&::after {
		background: pink;
		content: '';
		filter: blur(0.5rem);
		border-radius: inherit;
		inset: -0.5rem;
		position: absolute;
		z-index: -5;
	}
}

.errorMessage404 {
	font-family: fantasy;
	font-size: 1.5rem;
}

.errorTitle {
	font-size: 3rem;
}

.errorTitle404 {
	font-size: 1rem;
}

.errorTitle404InitialLetter {
	font-size: 3rem;
}

.errorTrace {
	font-family: monospace;
	font-size: 1.1rem;
	line-height: 1.8rem;
	white-space: pre;
}

.flexVertCenter {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
}

input[type='checkbox']:checked ~ .errorDetail {
	visibility: visible;
}

#theList {
	th {
		text-align: left;
	}
}